.banner {
  background: url("https://media.cntraveler.com/photos/61c987b548a88c417ebd2b12/master/w_3840,h_2560,c_limit/Capella-Sanya.jpg") center center;
  height: 70vh;
  position: relative;
  
}

.banner__info {
    margin-left: 0px;
    background-color: black;
    color: rgb(197, 64, 87);
    padding-top: 10vh;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 351px;
}
.banner__info > h1 {
  font-size: 50px;
  
}
.banner__info > h4 {
  font-size: 23px;
  font-style: italic;
  color: rgb(255, 247, 247);
}
/*.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: rgb(197, 64, 87) !important;
}*/

.banner__info > button {
    background-color: rgb(197, 64, 87);
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: rgb(197, 64, 87);
  }
  

.banner__info > h4 {
    margin-top: 10px;
}