.header {
    display: flex;
    justify-content: normal;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
  }
  
  .header__icon {
    object-fit: contain;
    height: 50px;
    margin-left: 20px;
  }

  .header > h1 {
    color: rgb(197, 64, 87);
    display: flex;
    float: left;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5px;
  }
  
  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid rgb(19, 13, 13);
    border-radius: 999px;
    margin-left: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 150px;
  
    
  }

  .header__search {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 20px;

  }

  .header__searchButton {
    border: black;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    margin-left: 200px;
    
  }
  