.host {
    background: url("https://resources.stuff.co.nz/content/dam/images/1/s/2/q/p/i/image.related.StuffLandscapeSixteenByNine.1420x800.1s1df2.png/1539290053923.jpg") center center;
    height: 70vh;
    position: relative;
    
  }

.Host_header {

color: rgb(197, 64, 87);
padding-top: 9vh;
padding-left: 1100px;
padding-right: 70px;
padding-bottom: 280px;
width: 500px;
width: 500px;

}
.Host_header > h2 {
    font-size: 30px;
    color: rgb(26, 24, 24);
}
.Host_header > h1 {
    font-size: 60px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Host_header > h3 {
    font-size: 20px;
    
    color: black;
  }
.Host_header > button {
    background-color: rgb(197, 64, 87);
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    
}
.Host_header > button:hover {
    background-color: white;
    color: rgb(197, 64, 87);
    cursor: pointer;
    
  }